################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PostCSSBeautifier/.vs
/PostCSSBeautifier/Beautifier/resources/nodejs
/PostCSSBeautifier/Beautifier/resources/server
/PostCSSBeautifier/Beautifier/Beautifier.csproj.user
/PostCSSBeautifier/Beautifier/Key.snk
/PostCSSBeautifier/BuildTasks/obj
/PostCSSBeautifier/BuildTasks/bin
/PostCSSBeautifier/packages
/PostCSSBeautifier/Beautifier/bin/Debug
/PostCSSBeautifier/Beautifier/obj/Debug
